<launch>
    <!-- set up the robot-->
    <include file="$(find rat_2dnav)/launch/rat_configuration.launch" />
    <!-- set up controller input -->
    <node pkg="joy" type="joy_node" name="rat_joy" respawn="true">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.23" />
	</node>
    <!-- telep joy twist -->
	<node pkg="teleop_twist_joy" type="teleop_node" name="rat_twist" />

    <!-- setup move base -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="footprint_padding" value="0.01" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="3.0" />

        <param name="oscillation_timeout" value="30.0" />
        <param name="oscillation_distance" value="0.5" />

        <rosparam file="$(find rat_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find rat_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rat_2dnav)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rat_2dnav)/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find rat_2dnav)/base_local_planner_params.yaml" command="load" />
    </node>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
        <param name="output_frame" value="odom_combined"/>
        <param name="base_frame" value="base_link"/>
        <param name="freq" value="30.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="false"/>
        <param name="vo_used" value="false"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>
    <!--Gmapping - uses the odom frame for mapping-->
    <include file="$(find rat_2dnav)/slam_gmapping.xml"/>  


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz"/>
    
</launch>